.DS_Store
**/.DS_Store
license.lic
.gitlat-ci.yml
#/m*/src/main/resources/application.yml
/m*/.externalToolBuilders/*
.metadata/
src/test/*
target/*
/src
/target
.DS_Store
.settings/
.classpath
target/*
/m*/target
/s*/target
suntray-utils/target
/m*/classpath
/m*/.project
/m*/.settings/
*.log
m*.gz
**/m*.gz
.myeclipse/
.myumldata
.project
dump.rdb
#application.yml
logs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# idea ignore
.idea/
.idea1/
*.ipr
*.iml
*.iws


com.crcc.iml
microservice-authorization-server/microservice-authorization-server.iml
microservice-config-server/microservice-config-server.iml
microservice-discovery-eureka/microservice-discovery-eureka.iml
microservice-gateway-zuul.log.0
microservice-gateway-zuul/microservice-gateway-zuul.iml
microservice-sso/microservice-sso.iml


#/m*/src/main/resources/application.yml
/bxyh-services-mater/m*/.externalToolBuilders/*
/bxyh-services-mater/.metadata/
/bxyh-services-mater/src/test/*
/bxyh-services-mater/target/*
/bxyh-services-mater/*/target
/*/.DS_Store
/bxyh-services-mater/*/.settings/
/bxyh-services-mater/*/.classpath
/bxyh-services-mater/*/target/*
/bxyh-services-mater/*/m*/target
/bxyh-services-mater/*/s*/target
/bxyh-services-mater/*/suntray-utils/target
/bxyh-services-mater/*/m*/classpath
/bxyh-services-mater/*/m*/.project
/bxyh-services-mater/*/m*/.settings/
*.log
m*.gz
**/m*.gz
/bxyh-services-mater/*/.myeclipse/
/bxyh-services-mater/*/.myumldata
/bxyh-services-mater/*/.project
/bxyh-services-mater/*/dump.rdb
/bxyh-services-mater/*/logs
/bxyh-services-mater/*/target/
/bxyh-services-mater/*/pom.xml.tag
/bxyh-services-mater/*/pom.xml.releaseBackup
/bxyh-services-mater/*/pom.xml.versionsBackup
/bxyh-services-mater/*/pom.xml.next
/bxyh-services-mater/*/release.properties
/bxyh-services-mater/*/dependency-reduced-pom.xml
/bxyh-services-mater/*/buildNumber.properties
/bxyh-services-mater/*/.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# idea ignore
/bxyh-services-mater/.idea/
*.ipr
*.iml
*.iws


com.crcc.iml
microservice-authorization-server/microservice-authorization-server.iml
microservice-config-server/microservice-config-server.iml
microservice-discovery-eureka/microservice-discovery-eureka.iml
microservice-gateway-zuul.log.0
microservice-gateway-zuul/microservice-gateway-zuul.iml
microservice-sso/microservice-sso.iml

