<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devplatform.admin.modules.sys.dao.SysOrgDao">
    <!-- Result Map -->
    <resultMap id="BaseResultMap" type="com.devplatform.admin.modules.sys.bean.SysOrg">
        <result column="org_id" property="orgId" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
        <result column="status" property="status" />
        <result column="parent_id" property="parentId" />
        <result column="org_name" property="orgName" />
        <result column="type" property="type" />
        <result column="level" property="level" />
        <result column="sort" property="sort" />
        <result column="org_code" property="orgCode" />
        <result column="is_corporation" property="isCorporation" />


    </resultMap>

    <!-- sys_org table all fields -->
    <sql id="Base_Column_List">
        org_id,create_user_id,create_time,update_user_id,update_time,remark,del_flag,status,parent_id,org_name,type,level,sort,org_code,is_corporation
    </sql>

    <!-- 公共查询条件 -->
    <sql id="Example_Where_Clause">
        where delete_flag=0
        <if test="orgId!=null and orgId!=''">and org_id = #{orgId}</if>
        <if test="createUserId!=null and createUserId!=''">and create_user_id = #{createUserId}</if>
        <if test="createTime!=null ">and create_time = #{createTime}</if>
        <if test="updateUserId!=null and updateUserId!=''">and update_user_id = #{updateUserId}</if>
        <if test="updateTime!=null ">and update_time = #{updateTime}</if>
        <if test="remark!=null and remark!=''">and remark = #{remark}</if>
        <if test="delFlag!=null ">and del_flag = #{delFlag}</if>
        <if test="status!=null ">and status = #{status}</if>
        <if test="parentId!=null and parentId!=''">and parent_id = #{parentId}</if>
        <if test="orgName!=null and orgName!=''">and org_name = #{orgName}</if>
        <if test="type!=null ">and type = #{type}</if>
        <if test="level!=null ">and level = #{level}</if>
        <if test="sort!=null ">and sort = #{sort}</if>
        <if test="orgCode!=null and orgCode!=''">and org_code = #{orgCode}</if>
    </sql>


    <!-- 根据条件查询组织信息列表 -->
    <select id="findAllSysOrg" resultMap="BaseResultMap" parameterType="com.devplatform.admin.modules.sys.bean.SysOrg">
        select
        <include refid="Base_Column_List" />
        from sys_org
    </select>

    <!-- 根据条件查询组织信息列表 -->
    <select id="queryListByCompany" resultMap="BaseResultMap" parameterType="com.devplatform.admin.modules.sys.bean.SysOrg">
        SELECT so.org_name,
        so.org_code,
        so.area_name
        FROM sys_org so
        WHERE so.`is_corporation` = 1
        GROUP BY so.org_name,
        so.org_code,
        so.area_name
        order by so.org_code asc
    </select>


</mapper>


